@import url('https://fonts.googleapis.com/css2?family=Baloo+Tammudu+2:wght@400;500;600&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,400;0,700;1,400&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Baloo Tammudu 2', cursive;
    /* font-family: 'Open Sans', sans-serif; */
}

.container {
    display: flex;

    justify-content: center;
    align-items: center;

    height: 100vh;
    background-color: #ecf0f1;
}

.content {
    position: relative;
    display: flex;

    justify-content: space-between;
    align-items: center;

    width: 80%;
    height: 60%;

    background-color: #ffffff;

    border-radius: .8rem;
}

.content::before {
    content: '';

    position: absolute;
    background-color: seagreen;

    width: 40%;
    height: 100%;

    border-top-left-radius: .8rem;
    border-bottom-left-radius: .8rem;
}

.title {
    text-transform: capitalize;

    font-size: 1.8rem;
    font-weight: bold;
}

.title-primary {
    color: #ffffff;
}

.title-secondary {
    color: seagreen;
}

.description {
    font-size: 1rem;
    font-weight: 300;

    line-height: 1.8rem;
}

.description-primary {
    color: #ffffff;
}

.description-secondary {
    color: seagreen;
}

.btn {
    width: 10rem;
    align-self: center;

    color: #ffffff;
    padding: .7rem;
    margin: .7rem;

    font-weight: bold;
    font-size: .8rem;

    border-radius: 1.2rem;

    text-transform: uppercase; 
    outline: none;
    cursor: pointer; 
    transition: .75s;
}

.btn-primary {
    border: 2px solid #ffffff;

    background-color: transparent;   
}

.btn-primary:hover {
    color:seagreen;
    background-color: #ffffff;
}

.btn-secondary {
    border: 2px solid seagreen;
    background-color: seagreen;
}

.btn-secondary:hover {
    background-color: transparent;
    color: seagreen;
}

.first-content {
    display: flex;
}

.first-column {
    text-align: center;
    width: 40%;

    z-index: 10;
}

.second-column {
    display: flex;
    flex-direction: column;

    align-items: center;
    text-align: center;
    
    width: 60%;

    z-index: 11;
}

.list-social-media {
    display: flex;
    list-style-type: none;
}

.item-social-media {
    border: 2px solid #bdc3c7;
    border-radius: 50%;

    color: #95a5a6;

    width: 2.4rem;
    height: 2.4rem;
    
    text-align: center;
    line-height: 2.9rem;

    margin: .3rem;
    transition: .75s;
}

.item-social-media:hover {
    background-color: seagreen;
    color: #ffffff;

    border: 2px solid seagreen;
}

.form {
    display: flex;
    flex-direction: column;

    width: 55%;
}

.form input {
    height: 2.4rem;
    width: 100%;

    border: none;
    background-color: #ecf0f1;

    outline: none;
}

.form input:focus {
    border-bottom: 2px solid seagreen;
}

.label-input {
    display: flex;

    margin: 0.3rem;

    align-items: center;
    background-color: #ecf0f1;
}

.icon-modify {
    padding: 0 .4rem;
}

.second-content {
    position: absolute;
    display: flex;
}

.second-content .first-column {
    order: 2;
    z-index: -1;
}
.second-content .second-column {
    order: 1;
    z-index: -1;
}

.password {
    color: #34495e;

    font-size: 1rem;
    margin: 1rem 0;

}

.sign-in-js .first-content .first-column,
.sign-in-js .first-content .second-column {
    z-index: -1;
}

.sign-in-js .second-content .first-column,
.sign-in-js .second-content .second-column {
    z-index: 11;
}

.sign-in-js .content::before {
    left: 60%;
}

.sign-up-js .second-content .first-column,
.sign-up-js .second-content .second-column {
    z-index: -1;
}

.sign-up-js .first-content .first-column,
.sign-up-js .first-content .second-column {
    z-index: 11;
}

.sign-in-js .content::before {
    left: 0;
}